<html lang="en">
<head>
<!--      <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script>
        function click_num() {
            paramas = {"code": "0"};
            $.ajax({
                url: "http://127.0.0.1:5000/cmdbQuery/",
                type: "POST",

                data: JSON.stringify(paramas),

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        if (data.code == "0"){
                            alter("存在");
                        }
                        else {
                            alter("不存在");
                        }
                    }
                }
            });
        }
    </script>-->
    <script src="../static/jquery-3.2.1.min.js"></script>
    <script>
        function click_num() {
            $.ajax( {
                url:'http://127.0.0.1:5000/cmdeQuery',// 跳转到 action
                data:{
                    selRollBack : "selRollBack",
                    selOperatorsCode : "selOperatorsCode",
                    PROVINCECODE : "PROVINCECODE",
                    pass2 : "pass2"
                },
                type:'POST',
                cache:false,
                dataType:'json',
                success:function(data) {
                    if(data.success ){
                        alert("修改成功！");
                    }else{
                        alter(data);
                        alter("haha");
                    }
                },
                error: function() {
                    //view("异常！");
                    alert("异常！");
                }
            });
        }
    </script>
    <meta charset="UTF-8">
    <title>测试</title>
</head>

<body>
<p id = "demo">这是我的段落</p>
<button type="buttom" onclick="click_num()">click</button>
</body>
</html>

